@import url('https:/fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.letter-pixel {
	font-family: 'Pixelify Sans', cursive;
}

#MatchHistory img {
	max-height: 4rem;
}

.faixa-amarela {
	background-image: url('../../../assets/store/faixas/faixa1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

/*##############################################################*/
/*							RANK 1								*/
/*##############################################################*/

.cssDefaultRanks {
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.borderDivFotoRank1 img {
	height: 220px;
	width: 221px;
	border-radius: 50%;
}

.borderWriteRank1 {
	background-image: url('../../../assets/bordaWriteRank/bordaWriteRank1.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*##############################################################*/
/*							RANK 2								*/
/*##############################################################*/

.borderDivFotoRank2 img {
	height: 181px;
	width: 184px;
	border-radius: 50%;
}

.borderWriteRank2 {
	background-image: url('../../../assets/bordaWriteRank/bordaWriteRank2.png');
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

/*##############################################################*/
/*							RANK 3								*/
/*##############################################################*/

.borderDivFotoRank3 {
	background-image: url('../../../assets/bordaFoto/bordaFotoRank3.svg');
	padding-top: 2px;
}

.borderDivFotoRank3 img {
	height: 174px;
	width: 176px;
	border-radius: 50%;
}

.borderWriteRank3 {
	background-image: url('../../../assets/bordaWriteRank/bordaWriteRank3.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*##############################################################*/
/*							RANK 4								*/
/*##############################################################*/

.borderDivFotoRank4 {
	background-image: url('../../../assets/bordaFoto/bordaFotoRank4.svg');
	padding: 6px 3px 2px 0px;
}

.borderDivFotoRank4 img {
	height: 150px;
	width: 151px;
	border-radius: 50%;
}

.borderWriteRank4 {
	background-image: url('../../../assets/bordaWriteRank/bordaWriteRank4.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 2rem
}

/*##############################################################*/
/*							RANK 5								*/
/*##############################################################*/

.borderDivFotoRank5 {
	background-image: url('../../../assets/bordaFoto/bordaFotoRank5.svg');
	padding: 23px 3px 2px 2px;
}

.borderDivFotoRank5 img {
	height: 139px;
	width: 143px;
	border-radius: 50%;
}

.borderWriteRank5 {
	background-image: url('../../../assets/bordaWriteRank/bordaWriteRank4.png');
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*##############################################################*/
/*							RANK 6								*/
/*##############################################################*/

.borderDivFotoRank6 {
	background-image: url('../../../assets/bordaFoto/bordaFotoRank6.svg');
	padding: 7px 2px 23px 9px;
	width: 220px;
	height: 220px;
}

.borderDivFotoRank6 img {
	height: 78px;
	width: 81px;
	border-radius: 50%;
}

.borderWriteRank6 {
	background-image: url('../../../assets/bordaWriteRank/bordaWriteRank4.png');
	height: 100%;
	width: 100%;
}

.h-profile {
	height: 100%;
	width: 310px;
}
