.shadow-grounps {
	background-color: white;
	box-shadow: inset 0 0 10px #000;
	border-radius: 5px;
}

#BarChats input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none !important;
	background-color: transparent;
}

.modal-class   {
	color: aliceblue;
}

.modal-class:checked {
	color: aliceblue;
}

.public-chats-screen {
		/* // backgroundImage: `url(${bgChats})`, */
		/* backgroundSize: '100% 100%', */
		/* backgroundRepeat: 'no-repeat', */
		color: white;
		height: 75%;
		width: 75%;
		padding: 7%;
		border: 1px solid white;
	}
